# Auto detect text files and perform LF normalization
* text=auto eol=lf

# JS/TS files
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.scss text
*.html text
*.md text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Font files
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary 